.signUpPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 450px;
    background-color: #1a1a1a;
    padding: 3rem 2rem;
    border-radius: 6px;
}

.formContainer h2 {
    font-weight: 500;
    letter-spacing: 0.075rem;
    text-align: center;
}

form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 0.25px solid rgba(148, 148, 148, 0.5);
}

form label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

form input {
    margin: 0.5rem 0;
    padding: 1.5rem 0 1.5rem 0.75rem;
    border: none;
    background-color: #242424;
    border-radius: 6px;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

form .passwordContainer input {
    border-radius: 6px 0 0 6px;
}

form i {
    cursor: pointer;
}

form button {
    all: revert;
    background-color: var(--darkblued);
    border: none;
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 1rem;
    margin-top: 2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

form button:hover {
    border: none;
    background-color: var(--lightblued);
}

.formContainer p {
    text-align: center;
    font-size: 0.85rem;
    padding-top: 1.5rem;
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password {
    width: 92%;
}

.faInvisible {
    border: none;
    background-color: #242424;
    padding: 0.94rem;
    border-radius: 0 6px 6px 0;
}

.formLink {
    color: var(--lightbluen);
    font-weight: 600;
    transition: all 0.2s;
}

.formLink:hover {
    color: var(--white);
}

.headerLogInLink, .headerSignUpLink{
    color: var(--white);
    text-decoration: none;
}

.signedInNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signedInNav p {
    font-size: 0.9rem;
}

.signedInNav button {
    background-color: var(--lightbluen);
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.loginError, .signupError, .passwordsMatchError {
    animation: shake 0.5s;
    color: var(--red);
    font-size: 1rem;
}

