@media (max-width: 1079px) {
    .heroText {
        padding-right: 2rem;
    }

}

@media (max-width: 940px) {

    .App {
        height: auto;
        text-align: center;
    }

    .mainContainer {
        flex-direction: column;
        height: auto;
    }

    .inputSearchBar {
        justify-content: center;
    }

    .heroText {
        width: 100%;
        padding-right: 0;
    }

    .footerContainer {
        all: revert;
        text-align: center;
        font-size: 0.8rem;
        padding: 5rem 0 1rem 0;
    }
}
