.modes {
    width: auto;
    border-radius: 2rem;
    display: flex;
    background-color: var(--lightbluen);    
    border: 2px solid var(--lightbluen);
    padding: 0.7rem 0.9rem;
    cursor: pointer;
    position: relative;
}

.modes i {
    font-size: 1.25rem;
}

.fa-sun {
    margin-right: 1rem;
}

.slider {
    position: absolute;
    top: 12%;
    left: 0;
    background-color: var(--darkbluen);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    transition: 0.4s ease-in;
}